@charset "utf-8";
/* CSS Document */

body {background:#F6F6F6;}
.clear { clear:both}
.warp { backg1round:url(../images/21.png) no-repeat 0 -74px ;}
/*======== main ===============*/
.head { width:900px; margin:0 auto;background:url(../images/jj.png) no-repeat 835px -25px,#fff; height:105px;_background:#fff}
.av { width:100%; height:30px; line-height:30px;background-color: #2D2D2D;box-shadow: 0 0 3px #2D2D2D; opacity: 0.7;}
.top { width:900px; margin:0 auto;position:relative;}
.top .left {hei1ght:130px; float:left}
.left .logo { float:left}
.left .logo img { margin-top:4px}
.middle {float:left; margin-top:15px; margin-left:45px}
.right {position:absolute; right:0}
.top_tool {}
.top_tool ul {}
.top_tool ul li { float:left;height:30px; line-height:30px;margin: 0 3px;}
.top_tool ul li a { cursor:pointer;font-size:12px;color:#ccc; height:30px; line-height:30px}
.top_tool ul li span { color:red; font-size:12px}
.top_tool ul li a:hover .xinxi { display:block}

#tool_1 {background:url(../images/1_01.gif) no-repeat left; padding-left:15px}
#tool_2 {background:url(../images/1_02.png) no-repeat left; padding-left:20px}
#tool_3 {background:url(../images/1_03.gif) no-repeat left; padding-left:25px;position:relative;}
#tool_4 {background:url(../images/1_04.gif) no-repeat left; padding-left:20px}
#tool_4 a  { color:#ccc}
#tool_4 a:hover  { color:red}
#tool_5 a{ color:red}

#xinxi { position:absolute; display:none;width:82px;left:0px; top:27px;}
#xinxi li{margin:0; padding:0;height: 18px; line-height:18px}
#xinxi li a { height:14px; line-height:14px;color: black;}
#xinxi li a:hover { color: #666}

.search { padding-top:20px}
.search input { width:380px; height:33px; line-height:33px;float:left; border:1px solid #57AAD3;}
.search ul { padding-top:3px;   width: 474px; overflow:hidden; height:16px}
.search li { float:left;font-size:14px;}
.search li a { cursor:pointer;margin-right:15px; color:#51B4D3; height:16px; line-height:16px;font-size: 12px;}
.search li a:hover { text-decoration:underline}
.search li span { float:left}
.search span input {background:url(../images/nav_bg.gif) left top;width:90px; height:37px; font-size:14px; font-weight:bold; color:#fff; border:none}

/*reg start*/
.nav {height:37px; background:url(../images/nav_bg.gif) repeat-x; width:100%}
.nav ul { padding-left:20px; width:900px;margin:auto; height:37px}
.nav ul li { float:left;line-height:37px;height:37px; color:#6FC4EB; padding:0 5px}
.nav ul li a {line-he1ight:10px; font-size:16px;padding:5px 33px; color:#fff; height:37px;border-radius:5px 5px 5px 5px;font-weight: bold;}
.nav ul li a:hover { text-decoration:none;}
.active {background:#0b6b9d/*236E94*/;height:37px}
/*reg end*/

/*reg start*/
em { color:red;font-family:"宋体"; margin-right:5px}
body{ width:100%;font-family:"微软雅黑";}
.zc_warp { width:900px; margin:auto; marg1in-top:50px; display:block; padding:25px 0 50px 0}
.user_info {margin: auto;width:600px;}
.yhm {font-size:16px; margin:20px 0; height:35px; line-height:35px; di1splay:inline;margin:30px 20px;}
.zc_tit { float:left;height:35px; line-height:35px; display:block;font-size: 16px;}
.yhm input {width:200px; height:30px; f1loat:right; color:#ccc; font-size:18px;}
.yhm span {font-size:12px; margin-left:10px;background:#FFEAEA; color:#CC0000;padding:0px 20px; float:left; border:1px solid #fff; border-radius: 3px 3px 3px 3px;}
.tjian { color:#ccc; width:300px;margin-left:90px; margin-top: -20px;display:none}
.tjian span { margin-left:20px}
.tjian ul { list-style:none; margin:0px; padding:0px}
.tjian ul li { float:left; margin:5px 10px; width:110px; overflow:hidden}
.zc_btn { padding: 20px 25px;text-align: center;width: 600px;margin-top: -15px;}
.zc_btn a { width:150px; height:30px; background:url(../images/zhuc.png) no-repeat; padding:17px 75.0px}
.zc_btn a:hover { background-position:-155px 0px;}
/*reg end*/

/*grzx start*/
.zx_warp { width:898px; border:1px solid #DDF3F7; height:500px; margin:auto;background:url(../images/jj.png) no-repeat 830px -25px,#fff; margin-top:10px;_background:#fff;border: 1px solid #57AAD3;}
.zx_left { float:left; width:200px;height:500px; background:#F0FAFD;}
.zx_left_tit { color:#666; font-size:16px;height:30px; line-height:30px}

h4{background:#79C5E9;margin: 0;padding: 0;width: 200px; height:30px; line-height:30px;text-align:center; margin:1px 0}
h4 a { text-decoration:none;color:#0078B6} 
ul{ margin: 0; padding: 0; list-style: none; } 
#outer_wrap li{line-height: 24px; position:relative} 
.controlSymbol{ padding:0px 100px; bor1der: 1px solid #adff2f; cursor: pointer; background:url(images/down.gif) no-repeat 40px center; position:absolute; left:0; margin:0; height:30px; line-height:30px; _height:15px;_line-height:15px;} 
.children { display:none}
.children li{ width:200px; overflow:hidden; height:25px;}
.children li a{ text-decoration:none;padding:3px 72px; text-align:center; height:25px; line-height:25px; color:#59add7; }
.active2 { background:#C6E7F4; }

.zx_title { color:#ccc; font-size:12px; height:30px; line-height:30px;border-bottom:1px solid #ccc;width: 650px;}
.zx_title h3{ color:#000; font-size:16px; width:75px; float:left; margin:0; padding:0}
.zx_title b { color:red}
.zx_title2 { color:#ccc; font-size:12px; height:20px; line-height:20px}
.zx_title2 span {margin:0 5px}
.zx_title2 span a { text-decoration:none; color:#0078B6; font-size:12px}
.zx_title2 span a:hover { color:blue}

.zx_right { float:left;width:678px;padding:15px  0 0 20px;}
.jbxx { display:none}
.zx_right .zx_content { width:570px;margin:auto; margin-top:20px}
.zx_right .zx_content ul {}
.zx_right .zx_content ul li { color:#666; font-size:16px; height:30px; line-height:30px; margin-top:15px}
.zx_right .zx_content ul li div { float:left; width:100px; text-align:right}
.zx_right .zx_content ul li span { float:left}
.zx_right .zx_content ul li input { width:200px; height:22px; line-height:22px; float:left}
.zx_right .zx_content ul li a { text-decoration:none;color:#0078B6; margin-left:10px; font-size:12px}
.zx_right .zx_content ul li a:hover { color:blue; text-decoration:underline}
.zx_content b { margin-right:20px; color:red; font-size:12px; height:20px; line-height:20px; fl1oat:left}
.zx_right .zx_content ul li select { float:left; margin-right:10px; width:60px; height:30px; line-height:30px; font-size:16px; text-align:center; cursor:pointer;}
.zx_right .zx_content ul li option { height:30px; line-height:30px}
.zx_right .zx_content .xb { width:10px; float:none}
.zx_right .zx_content .sr { float:none}
/*grzx end*/

/*grbq start*/
.grbq {display:no1ne}
.bq_content { border:1ps solid #EDFAFF; width:650px; height:240px; background:#EDFAFF; margin-top:20px}
.bq_left { float:left;padding-top:40px; padding-left: 20px;width: 335px;}
.bq_left .bq_serch input{ width:220px; height:29px; line-height:29px; float:left}
.bq_serch a { width:60px; float:left; margin-left:5px}
.bq_right { float:left;width:265px; heig1ht:100px; background:#fff; margin:10px; padding-bottom: 10px; mar1gin-left:60px}
.bq_right .r_title {margin:0 10px; font-size:12px; height:20px; line-height:20px}
.bq_right .r_title a { color:#97C9DE; float:right; font-size:12px;}
.bq_right ul { list-style:none; margin-left:10px; padding:0; margin-top:5px}
.bq_right ul li {float:left; margin-right:5px; margin-top:10px;background:#D9F5F9; padding:2px}
.bq_right ul li a { display:block; color:#5F97BE}
.bq_right ul li a:hover { display:block; color:#79C5E9}
.bq_right ul li em{ font-size:14px;color:#5296C4}

.tjia { width:650px; border-top:2px solid #D6F8F9; height:100px}
.tjia .tjia_t { font-size:14px; padding-left:10px; margin-top:10px}
.tjia_t a { float:right; color:#3996C2; font-weight:bold; margin-right:10px;font-size:14px}
.tjia ul { list-style:none; margin-left:10px; padding:0; margin-top:20px}
.tjia ul li {float:left; margin-right:3px; margin-top:10px;background:#fff; padding:4px; border:1px solid #D9F5F9; height:15px;line-height:15px; color:#5F97BE; width:43px}
.tjia ul li a {color:#5F97BE; fl1oat:right;}
.tjia ul li a:hover {color:#79C5E9}
.tjia ul li em{ font-size:14px;color:#5296C4;padding-left:3px;height:15px;line-height:15px;}

.bq_bottom { width:650px; height:150px; border-top:1px dashed #ccc; margin:0; margin-top:20px; color:#ccc}
.bq_bottom_t {font-size:14px; padding-left:10px; margin-top:10px; color:#666}
.bq_bottom  ul { list-style:disc; margin-top:10px}
.bq_bottom  ul li { height:20px; line-height:20px; margin-left:20px; font-size:14px}
/*grbq end*/

/*xgtx start*/
.xgtx { display:none}
.tx_content {}
.tx_title { color:#ccc; font-size:12px; height:30px; line-height:30px;border-bottom:1px solid #ccc;width: 650px;}
.tx_title h3{ color:#000; font-size:16px; width:75px; float:left; margin:0; padding:0}
.tx_content .tx_btn { margin-top:10px; font-size:12px; color:#ccc}
.tx_btn input { margin-bottom:5px;}
.shangc { color:#666; height:20px; line-height:20px; margin-top:10px}
.shangc a {color:#0078B6; margin:0 3px}
.shangc input { float:left}
.pho_box { width:650px; height:335px;margin-top:1px}
.pho_box .pho_left { float:left; width:50%; border-right:1px solid #ccc; height:335px;}
.pho_left .pho1 { width:302px; height:302px;margin-top:15px; background:url(../images/pho1.jpg) no-repeat}
.pho_box .pho_right { float:left; height:335px;padding-left: 20px;}
.pho_right .phor_left { float:left}
.phor_left span {color:orange; width:200px; float:left; height:40px; font-size:12px; line-height:20px; padding: 10px 0;}
.phor_left .pho2 { width:182px; height:182px; background:url(../images/pho2.jpg) no-repeat}
.phor_right { float:left}
.phor_right .pho3 { width:62px; height:213px;background:url(../images/pho31.jpg) no-repeat;margin-left: 40px; margin-top:50px}
/*xgtx end*/

/*qybd start*/
.qybd { display:none}
.qy_title { color:#ccc; font-size:12px; height:30px; line-height:30px;border-bottom:1px solid #ccc;width: 650px;}
.qy_title h3{ color:#000; font-size:16px; width:75px; float:left; margin:0; padding:0}
.qy_title2 { color:#ccc; font-size:12px; height:20px; line-height:20px}
.qy_content { width:540px;margin-top:20px}
.qy_search input {border:1px solid #79C5E9; width:345px; height:30px; line-height:30px; float:left}
.qy_search a { padding:17px 51px;background:url(../images/qy_sc.gif) no-repeat;_height:1px; line-height:34px; float:left;}
.qy_content ul { list-style:none; margin-top:10px;}
.qy_content ul li { height:25px; line-height:25px; font-size:14px; width:100px; float:left; margin:5px; overflow:hidden}
.qy_content ul li input { float:left; height: 20px;}
.qy_liuyan {}
.qy_liuyan .t{font-size:16px; padding-left:30px; margin-top:10px; height:35px;}
.qy_liuyan .sj {height:12px; width:450px; background:url(../images/sanjiao.gif) no-repeat 0px 1px;position: absolute; margin-top:-10px; margin-left:32px}
.qy_liuyan textarea {border:1px solid #79C5E9; width:450px; height:150px;}
.qy_btn { margin-top:10px}
.qy_btn a {background:url(../images/jiaru.gif) no-repeat;padding:9px 51px;_height:1px; line-height:34px;}
.tixing {font-size:16px; color:#000; width:310px; height:25px; line-height:25px; margin:auto; margin-top:15px}
/*qybd end*/

/*sq start*/
.sqbd {display:none;}
.sq_title { color:#ccc; font-size:12px; height:30px; line-height:30px;border-bottom:1px solid #ccc;width: 650px;}
.sq_title h3{ color:#000; font-size:16px; width:75px; float:left; margin:0; padding:0}
.sq_title2 { color:#ccc; font-size:12px; height:20px; line-height:20px}
.sq_content { width:540px;margin:auto;margin-top:20px; }
.sq_search { padding-top:15px}
.sq_search input {border:1px solid #79C5E9; width:345px; height:30px; line-height:30px; float:left}
.sq_search a { padding:17px 51px;background:url(../images/qy_sc.gif) no-repeat;_height:1px; line-height:34px; float:left;}
.out1 { padding-top:20px; _padding-top:0}
.sq_xz{height:12px; width:200px; background:url(../images/sanjiao.gif) no-repeat left 0px;position: absolute; margin-top:-11px;margin-left:20px;z-index: 1;}
.sq_li {width:450px; height:200px; border:1px solid #79C5E9; padding:5px 0;padding-left:10px; position:relative}
.sq_li .li_title { font-size:16px;border-bottom:1px solid #79C5E9; height:30px; line-height:30px; }
.li_title a { color:#79C5E9}
.sq_li ul {}
.sq_li ul li { height:25px; line-height:25px; float:left; width:100px; overflow:hidden; margin-top:10px}
.join { background:url(../images/join.gif) no-repeat; padding:5px 31px; position:absolute; bottom:15px; left:40%; height:15px}
/*sq end*/

/*yanzheng start*/
.yz_warp { width:900px; _background:#fff; margin:auto; height:400px; margin-top:10px;background:url(../images/jj.png) no-repeat 830px -27px,#fff;border: 1px solid #57AAD3;}
.mis { background:url(../images/mis.gif) no-repeat 110px center; font-size:16px}
.yz_content { width:550px;color:#999; background:#fff; margin:auto;padding-top:140px; text-align:center}
.yz_content a{ color:#0082CB; margin-left:10px}
.yz_content a:hover { color:blue}
.yz_content div { height:30px; line-height:30px;}
.yz_content h4 { font-size:22px; color:#000;background:none; width:550px}
/*yanzheng end*/

/*jihuo start*/
.jh_warp { width:900px;_background:#fff;background:url(../images/jj.png) no-repeat 830px -25px,#fff;height:500px; margin:auto; margin-top:10px}
.jh_warp {border: 1px solid #57AAD3;}
.jh_content { width:455px;margin:auto; padding-top:140px}
.jh_content div { font-size:12px; height:25px; line-height:25px}
.jh_content .wel { font-size:18px; height:30px; line-height:30px}
.jh_content div span { color:#fa7819; font-size:18px;}
.jh_content .test { color:#ccc; font-size:16px; margin:5px 0}
.jh_content span {color:#63D5FF; height:30px;}
.url0 { color:#63D5FF; width:455px; height:30px; font-size:16px; text-decoration:underline}
.url0:hover { text-decoration:underline;}
.warning {color:#ccc; margin-top: 5px;}
/*jihuo end*/
/*==================================================== 登录导航部分 ==================================================*/
/* 登录导航 start*/
.dldh_warp { width:900px; h1eight:500px; margin:auto; background:#fff;}
.dldh_content { width:640px;margin:auto; height:335px; display:no1ne}
.dldh_title {height:30px; line-height:30px; font-size:16px; color:#ccc}
.dldh_title ul {width:900px; height:39px; background:#F6F7F8}
.dldh_title ul li { background:url(../images/daoh1.png) no-repeat -123px 0px; height:39px; line-height:39px; width:200px; float:left; margin-right:1px;  paddin1g-left:30px; text-align:center}
.dldh_title ul li a {font-size:20px; color:#666; padding:8px 40px;}
.active3 { color:red/*#32A1EC*/}

.dldh_search { padding-top:20px}
.dldh_search input {border:1px solid #79C5E9; width:345px; height:30px; line-height:30px; float:left}
.dldh_search a { padding:17px 51px;background:url(../images/qy_sc.gif) no-repeat;_height:1px; line-height:34px; float:left;}
.dldh_out1 { padding-top:20px; _padding-top:0}
.dldh_xz{height:12px; width:200px; background:url(../images/sanjiao.gif) no-repeat left 0px;position: absolute; margin-top:-11px;margin-left:20px;z-index: 1;}
.dldh_li {width:450px; height:150px; border:1px solid #79C5E9; padding:5px 0;padding-left:10px; position:relative}
.dldh_li .li_title { font-size:16px;border-bottom:1px solid #79C5E9; height:30px; line-height:30px; }
.dldh_li_title a { color:#79C5E9}
.dldh_li ul {}
.dldh_li ul li { height:25px; line-height:25px; float:left; width:100px; overflow:hidden; margin-top:10px}
.dldh_btn { margin-top:35px; text-align:center}
.dldh_btn a {padding:9px 52px; background:url(../images/zqy.gif) no-repeat; margin-top:15px; cursor:pointer}
/* 登录导航 end*/

/* 找企业 start*/
.zqy { display:none;padding-bottom: 10px;}
.zqy_title2 { color:#ccc; font-size:16px; height:30px; line-height:30px}
.zqy_content { width:540px;margin-top:20px; margin:auto;padding-top: 20px;}
.zqy_search input {border:1px solid #79C5E9; width:345px; height:30px; line-height:30px; float:left}
.zqy_search a { padding:17px 51px;background:url(../images/qy_sc.gif) no-repeat;_height:1px; line-height:34px; float:left;}
.zqy_content ul { list-style:none; margin-top:10px;}
.zqy_content ul li { height:25px; line-height:25px; font-size:14px; width:100px; float:left; margin:5px; overflow:hidden}
.zqy_content ul li input { float:left; height: 20px;}
.zqy_liuyan {}
.zqy_liuyan .t{font-size:16px; padding-left:30px; margin-top:10px; height:35px;}
.zqy_liuyan .sj {height:12px; width:450px; background:url(../images/sanjiao.gif) no-repeat 0px 1px;position: absolute; margin-top:-10px; margin-left:32px}
.zqy_liuyan textarea {border:1px solid #79C5E9; width:450px; height:150px;}
.zqy_btn { margin-top:10px}
.zqy_btn a {background:url(../images/zbq.gif) no-repeat;padding:9px 71px;_height:1px; line-height:34px; cursor:pointer}
.tixing {font-size:16px; color:#000; width:310px; height:25px; line-height:25px; margin:auto; margin-top:15px}
/* 找企业 end*/

/* 定义标签 start*/
.dybq { display:none}
.dbq_content { border:1ps solid #EDFAFF; width:650px; height:220px; margin:auto; background:#EDFAFF; margin-top:30px;}
.dzx_title2 { color:#ccc;height: 25px;line-height: 25px;}
.dbq_left { float:left;padding-top:40px; padding-left: 20px;width: 335px;}
.dbq_serch input{ width:220px; height:29px; line-height:29px; float:left;}
.dbq_serch a { width:60px; float:left; margin-left:5px}
.dbq_right { float:left;width:265px; heig1ht:100px; background:#fff; margin:10px; padding-bottom: 10px; mar1gin-left:60px}
.dr_title a{ color:#57A8D2;float: right;}
.dbq_right .r_title {margin:0 10px; font-size:12px; height:20px; line-height:20px}
.dbq_right .r_title a { color:#97C9DE; float:right; font-size:12px;}
.dbq_right ul { list-style:none; margin-left:10px; padding:0; margin-top:5px}
.dbq_right ul li {float:left; margin-right:5px; margin-top:10px;background:#D9F5F9; padding:2px}
.dbq_right ul li a { display:block; color:#5F97BE}
.dbq_right ul li a:hover { display:block; color:#79C5E9}
.dbq_right ul li em{ font-size:14px;color:#5296C4}

.dtjia { width:650px; border-top:2px solid #D6F8F9; height:100px}
.dtjia .tjia_t { font-size:14px; padding-left:10px; margin-top:10px}
.dtjia_t a { float:right; color:#3996C2; font-weight:bold; margin-right:10px;font-size:14px}
.dtjia ul { list-style:none; margin-left:10px; padding:0; margin-top:20px}
.dtjia ul li {float:left; margin-right:3px; margin-top:10px;background:#fff; padding:4px; border:1px solid #D9F5F9; height:15px;line-height:15px; color:#5F97BE; width:43px}
.dtjia ul li a {color:#5F97BE; fl1oat:right;}
.dtjia ul li a:hover {color:#79C5E9}
.dtjia ul li em{ font-size:14px;color:#5296C4;padding-left:3px;height:15px;line-height:15px;}

.dbq_bottom { width:650px;border-top:1px dashed #ccc; margin:auto; margin-top:20px; color:#ccc}
.dbq_bottom_t {font-size:14px; padding-left:10px; margin-top:10px; color:#666}
.dbq_bottom  ul { list-style:disc; margin-top:10px}
.dbq_bottom  ul li { height:20px; line-height:20px; margin-left:20px; font-size:14px}
.zby1 { margin-top:15px;text-align: center;}
.zby1 a { background:url(../images/zby.gif) no-repeat; height:34px; line-height:34px; padding:10px 56px; _height:20px;cursor:pointer}
/* 定义标签 end*/


/* 找博友 start*/
.zby { width:900px; margin:auto; height:436px; display:none}
.zby h3 { color:#ccc; font-size:16px; text-align:left; height:30px; line-height:30px;}
.zby_content {}
.zby_li {width:730px; margin:auto}
.zby_content ul {}
.zby_content ul li { float:left; width:190px; height:155px; border:1px solid #ccc;margin:10px 20px}
.zyb_info .zyb_pho { float:left; padding:10px 0 0 10px}
.zyb_info .zyb_pho img { width:62px; height:62px}
.zby_info { width:190px}
.zby_r { float:left; width:110px; heig1ht:52px; margin-top:10px;margin-left:6px; text-align:left}
.zby_r .zyb_id { height:20px; line-height:20px; color:#79BD0C; font-size:14px; font-weight:bold}
.zby_r span {}
.zby_r span img { height:auto; margin:0; margin-top:5px}
.zby_r ul {}
.zby_r ul li { float:left; margin-right:5px; height:14px; line-height:14px; width:30px; font-size:12px; color:#033588; border:none; overflow:hidden; margin:0; margin-top:7px}
.zyb_xq { color:#ccc; font-size:12px; height:16px; line-height:16px; height:40px;margin-top:10px; text-align:left; text-indent:2em}
#zyb_btn { text-align:right; width:190px; padding-top: 15px;}
#zyb_btn a{ background:url(../images/guanzhu.gif) no-repeat; padding:1px 22px; height:17px;_height:1px;}
.zyb_ty { height:34px;margin-top:15px;text-align: center;line-height: 34px;}
.zyb_ty a { background:url(../images/zby_ty.gif) no-repeat; padding:9px 57px;cursor:pointer}
/* 找博友 end*/

/*==================================================== 我的书房 ==================================================*/

.study { width:898px; backgr1ound:#fff;height:827px; margin:auto; margin-top:10px;}
.study .st_left { float:left; width:180px; height:635px;}
.st_left_top { width:180px; height:155px;border:1px solid #DDDDDD; border-radius: 8px 8px 8px 8px;}
.st_left_top .xx { margin-top:10px; padding-left:5px}
.st_left_top .pho { float:left}
.pho img { width:90px; height:90px; padding:5px 0 0 5px}
.top_left { float:left}
.top_right { float:left; margin-left:5px; margin-top:22px}
.top_right div { height:20px; line-height:20px; font-size:16px;}
.top_right ul {}
.top_right ul li { color:#57A8D2; height:20px; line-height:20px}
.top_right ul li span { color:#000}
.st_top_btm { margin-top:2px}
.st_top_btm li { float:left; margin:0 5px; font-size:14px; width:40px;text-align:center;color:#57A8D2;}

.st_left_bottom {height:468px; border:1px solid #DDDDDD;margin-top:10px; border-radius: 8px 8px 8px 8px;width: 180px; background:#f8f8f8}
.st_left_tree {height:80px; width:150px; margin-left:30px;}
.st_left_bottom h3 { width:180px; height:30px; line-height:30px; margin:0; padding:0}
.st_left_bottom h3 a {color:#57A8D2;font-size:18px; cursor:pointer;padding:2px 52px;height:30px; line-height:30px;}
.st_left_bottom h3 a:hover {}
.st_left_bottom {}
.st_left_bottom ul { display:none}
.st_left_bottom ul li { height:25px; line-height:25px;margin:1px 0px;text-align: center; width:180px}
.st_left_bottom ul li a {color:#000; font-size:14px;padd1ing:4px 48px; b1ackground:red;text-align:center;cursor:pointer}

.study .st_right { float:left; width:706px; margin-left:10px;}
.st_right_top {background:#E1FBFC; height:90px; border:1px solid #DDDDDD;border-radius: 8px 8px 8px 8px;}
.st_right_top ul { width:600px; _width:680px; height:60px; margin:auto}
.st_right_top ul li { float:left; width:55px; margin-right:25px; mar1gin-left:10px; padding:7px 9px;text-align: center;}
.st_right_top ul li a { width:68px; height:60px; text-align:center; font-size:16px; color:#000}
.st_right_top ul li a img { padding-left:5px}
.st_right_top ul li p { width:68px; height:20px; line-height:20px; font-size:12px; text-align:center; font-weight:bold}
.st_right_top ul li p a { color:#999}
.st_right_top ul li p a:hover { color:#666}

.st_right_left { float:left; width:442px;border-radius: 8px 8px 8px 8px;border:1px solid #DDDDDD; margin-top:5px; background:#E1FBFC; }
.st_right_left h3 { font-size:16px; height:30px; line-height:30px; color:#666; font-weight:bold; margin-left:15px}
.frind0 { width:442px;height:50px}
.frind0 ul { margin-left:15px}
.frind0 ul li { float:left; margin:5px 7px 0 0;}
.frind0 ul li img { width:40px; height:40px;}
hr { height:1px; border:1px dashed #CCCCCC}
.st_right_right { float:left; margin-left:10px; width:250px;margin-top:5px}

.tabsf { margin-left:15px}
.tabsf span a{ font-size:14px; height:25px; line-height:25px; font-weight:bold; color:#999; wi1dth:60px; margin:0 2px}
.tabsf span a:hover { color:#666}

.tabsf_cont1 { width:442px; height:auto;}
.tabsf_cont1_l { float:left; padding-left:25px}
.tabsf_cont1_l p img { width:90px; height:90px}

.usid {font-size:12px; font-weight:bold; height:20px; line-height:20px; width:87px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.usid a {color:#6D9125;}

.tabsf_cont1_r { float:left; padding-left:6px;}
.tabsf_cont1_r .xfwz { color:#666; margin-top:5px}
.xfwz .wz {color:#EC8219; font-size:16px; font-weight:bold; padding-right:20px; background:url(../images/pan_03.png) right no-repeat; margin-right:10px}
.tabsf_cont1_r ul {}
.tabsf_cont1_r ul li {}
.tabsf_cont1_r ul li a { color:#3B70C0; text-decoration:underline; font-size:16px; height:25px; line-height:25px}
.tabsf_cont1_r ul li a:hover { color:#000; text-decoration:underline}
.jilu {}
.jilu li { float:left; width:70px;color:#666; margin-right:8px; height:20px; line-height:20px;}

.tjzt { width:250px;border-radius: 8px 8px 8px 8px;border:1px solid #DDDDDD; background:#E1FBFC}
.tjzt h3 { font-size:16px; height:30px; line-height:30px; color:#57A8D2; font-weight:bold; padding-left:10px}
.tjzt ul { list-style:decimal; margin-left:30px}
.tjzt ul li {line-height:20px; font-size:14px; margin:3px 0;}
.tjzt ul li a { color:#666}
.tjzt ul li a:hover { color:#64B7EB}

.tjhd { width:250px;border-radius: 8px 8px 8px 8px;border:1px solid #DDDDDD; margin-top:10px;background:#E1FBFC}
.tjhd h3 { font-size:16px; height:30px; line-height:30px; color:#57A8D2; font-weight:bold; padding-left:10px}
.tjhd ul { list-style:decimal; margin-left:30px}
.tjhd ul li {line-height:18px; font-size:14px; margin:3px 0;}
.tjhd ul li a { color:#666}
.tjhd ul li a:hover { color:#64B7EB}

.tjsf {border:1px solid #DDDDDD; width:250px; height:245px;margin-top:10px;border-radius: 8px 8px 8px 8px;background:#E1FBFC}
.tjsf h3 {font-size:16px; height:30px; line-height:30px; color:#57A8D2; font-weight:bold; padding-left:10px}
.tjsf ul { padding-left: 10px;}
.tjsf ul li { width:80px; float:left;margin-top:10px;}
.tjsf ul li img { width:65px; height:65px}
.tjsf ul li p { width:65px; height:20px; line-height:20px; color:#07F601; text-align:center;}
.tjsf ul li p a { color:#52BFE1}
.tjsf ul li p a:hover { text-decoration:none; color:#6D991D }

/*==================================================== 版权信息 ==================================================*/

/*foot start*/
.foot { width:900px;margin:auto;margin-top:10px; height:60px;}
.nav_btm { background:#F1F1F1; width:900px; height:16px;}
.nav_btm ul { width:480px; height:16px; margin:auto}
.nav_btm ul li { float:left; height:14px; line-height:16px; color:#ccc}
.nav_btm ul li a { margin:1px 10px; color:#1E386B;font-size: 12px;}
.nav_btm ul li a:hover { color:#666; text-decoration:underline}
.banq { width:900px; color:#333333; font-size:12px}
.banq .lin1 { width:300px; height:16px; margin:auto;margin-top:20px;font-size: 12px;}
.banq .lin2 { width:325px; height:16px; margin:auto;margin-top:10px;font-size: 12px;}
.banq .lin3 { width:500px; height:16px; margin:auto;margin-top:10px;font-size: 12px;}
/*foot end*/