@charset "utf-8";
/* CSS Document */

body {backg1round:#F8F8F8}
.clear { clear:both}
.warp { backg1round:url(../images/21.png) no-repeat 0 -74px ;}
/*======== main ===============*/
.main { wi1dth:1300px;margin:auto;}
.main .head { width:900px;heig1ht:570px; margin:auto}
.head .top {}
.top .left { width:30%; hei1ght:130px; float:left}
.left .logo img { margin:0px 0 0 15px}
.left .weather {text-align:center;height:30px; padding-left:20px; padding-top:15px}
.weather span { font-size:20px}
.weather li{ float:left; margin-left:10px; font-size:12px}
.middle { width:42%; float:left; hei1ght:130px}
.top .right { width:28%;float:left; he1ight:130px;}
.right .top_tool {}
.right .top_tool ul {}
.right .top_tool ul li { float:left;height:25px;margin: 0 3px;}
.right .top_tool ul li a { cursor:pointer; height:25px; line-height:25px; font-size:12px}
.right .top_tool ul li span { color:red; font-size:12px}
.right .top_tool ul li a:hover .xinxi { display:block}
.right .top_tool ul {}
.tool_1 {background:url(../images/1_01.gif) no-repeat left; padding-left:15px}
.tool_2 {background:url(../images/1_02.png) no-repeat left; padding-left:20px}
.tool_3 {background:url(../images/1_03.gif) no-repeat left; padding-left:25px;position:relative}
.tool_4 {background:url(../images/1_04.gif) no-repeat left; padding-left:20px}
.tool_4 a  { color:#000}
.tool_4 a:hover  { color:red}
.tool_5 a{ color:red}

#xinxi { position:absolute; display:none;margin-left:-10px; width:82px;left:0px; top:20px;}
#xinxi li{margin:0; padding:0;height: 18px;}
#xinxi li a { height:14px; line-height:14px}
#xinxi li a:hover { color: #CCC}

.search { padding-top:30px}
.search input { width:270px; height:25px; line-height:25px;float:left; border:2px solid #CDF0D0;}
.search ul { padding-top:3px}
.search li { float:left;font-size:14px}
.search li a { cursor:pointer; margin-right:16px; color:#51B4D3}
.search li span { float:left}
.search span input {background:url(../images/hs3.png) no-repeat left top;border: #6A6A6A solid 1px; width:60px; height:31px}

.nav { width:900px;height:30px; background:#6bcdeb; margin:auto}
.nav ul { padding-left:20px;}
.nav ul li { float:left;line-height:30px;height:30px;margin: 0 3px;}
.nav ul li a {line-he1ight:10px; font-size:18px;padding:4px 15px; color:#000}
.nav ul li a:hover { text-decoration:none;/* background:#0096D0; col1or:#fff*/}
.active { background:#0096D0; color:#fff}
.banner {}
.banner .left1 { width: 565px;float:left; margin-top:10px; height:200px; text-align:center}

/*login start*/
.login { width:275px;float:left; padding:20px 0 0 10px}
.login ul {}
.login ul li { height:30px; line-height:30px; margin-top:15px}
.login ul li input { margin-left:65px;}
.login ul li a { color:#999}
.login ul li a:hover { color:#000; text-decoration:underline;}
.login ul li .text { font-size:16px; font-weight:bold;}
.login ul .text span { float:left; width:60px; font-size:16px; font-weight:bold}
.login ul .text input { margin-left:5px; width:200px; height:25px; float:left; line-height:25px}
.login ul li .sibmit { float:left}
.login ul li .sibmit { width:70px; height:30px; line-height:30px; background:url(../images/btn_06.png) no-repeat;text-align: center; /*margin:0 10px*/ margin-left: 30px;}
.login ul li .sibmit a { color:#fff; cursor:pointer; font-size:16px; font-weight:bold}
.login ul li .sibmit a:hover { text-decoration:none; color:#000}

/*login end*/

.content { width:900px;margin:0 auto;}
.c_left { float:left;}
.c_yuanc { float:left; width:335px; border:1px solid #CEE2EE;borde1r-top:none;border-radius: 5px 5px 5px 5px;}
.tit { font-size:16px; padding-left:20px;height:30px; line-height:30px;background:url(../images/title_bg.gif) -3px -1px; color:#000;}
.c_yuanc ul { margin-left:10px; margin-top:15px}
.c_yuanc ul li {margin:5px 0; height:20px; line-height:20px; width:320px}
.c_yuanc ul li a {padding-left:10px; background:url(../images/dian.gif) left no-repeat; float:left;overflow:hidden;color:#6B92AE; height:20px;wid1th:185px;}
.c_yuanc ul li a:hover { text-decoration:underline; color:green}
.c_yuanc ul li span { float:right; text-align:right;color:#6D991D}
.c_yuanc .more { height:25px;line-height: 25px;}
.c_yuanc .more a { color:#6B92AE; margin-left:245px; margin-bottom:5px; font-size:16px; width:70px; background:none}
.c_yuanc .more a:hover { color:green; text-decoration:none}

.c_right { float:left;margin-left:7.5px}
.c_zhuanc { width:320px; border:1px solid #CEE2EE; float:left; margin-left:7.5px;border-radius: 5px 5px 5px 5px;}
.c_zhuanc ul { margin-top:15px}
.c_zhuanc ul li { margin:10px 0;width:320px;}
.c_zhuanc .tji { width:60px; float:left; display:block; text-align:center;}
.c_zhuanc .tji b { font-size:25px;width:60px; color:orange}
.c_zhuanc .tji p { color:#ccc}
.c_zhuanc .list { height:20px; line-height:20px;float:left; width:180px}
.c_zhuanc lable {width:160px;float:left;overflow:hidden; height:20px;}
.c_zhuanc .list div { margin-left:5px; color:#ccc}
.c_zhuanc .list div a { font-size:16px; color:#6B92AE}
.c_zhuanc .list div span a { font-size:12px}
.c_zhuanc a {color:#999; height:20px; overflow:hidden; width:230px;}
.c_zhuanc a:hover {color:#000; text-decoration:underline;}
.c_zhuanc div a{ color:orange; margin:0 5px; font-size:16px}
.c_zhuanc .more { height:25px;line-height: 25px;}
.c_zhuanc .more a { color:#6B92AE;margin-left: 240px;font-size:16px; width:70px}
.c_zhuanc .more a:hover { color:green; text-decoration:none}

.tab {margin-top:10px}
.yzzx { width:215px;float:left;border:1px solid #CEE2EE;hei1ght:330px;border-radius: 5px 5px 5px 5px;}
.yzzx ul { padding-left:25px}
.yzzx ul li { width:65px;backgr1ound:red;float:left;padding: 5px 25px 5px 0;}
.yzzx .usid { font-size:14px;font-weight:bold; width:65px;overflow:hidden; height:14px; line-height:14px}
.yzzx .usid a{ color:#6D991D}
.yzzx .usid a:hover { color:orange}
.yzzx .star { margin:3px 0}
.yzzx .star img { width:65px}
.yzzx .pto { width:65px}
.yzzx .pto img { width:65px; height:65px}
.yzzx .more a{ margin-left:200px; height:30px; line-height:30px; color:#6B92AE; width: 35px;}

.c_flyd {width:664px;height:355px;border:1px solid #CEE2EE; margin-top:10px;border-radius: 5px 5px 5px 5px;}
.c_flyd .tit {font-size:16px; padding-left:20px; height:28px; line-height:28px;wi1dth: 944px; color:#000;}
.c_flyd ul {}
.c_flyd ul li {height:100px;margin-rig1ht:/*49*/30px; float:left; margin-top:10px; color:#ccc;padding-left:30px;}
.c_flyd ul li .ico { float:left; width:65px; height:65px}
.c_flyd ul li .ico img{ width:65px; height:65px; float:left}
.c_flyd ul li .ico_r { float:left; width:95px;height:65px; margin-left:10px}
.ico_r .flag { color:#6D991D; font-size:14px; font-weight:bold; height:20px; line-height:20px; padding-left:5px}
.ico_r .child_li { width:90px; height:45px;overflow:hidden;margin-left:5px; line-height:22px;color: #666666;}

.c_zxhd { width:224px;border:1px solid #CEE2EE;border-radius: 5px 5px 5px 5px;}
.c_zxhd ul { padding-left:30px}
.c_zxhd ul li { list-style:decimal; margin:5px 0 5px 0px;}
.c_zxhd ul li a { color:#666; width:250px;overflow:hidden;font-size: 12px;}
.c_zxhd ul li a:hover { color:#000}

.c_tjzt { width:224px;border:1px solid #CEE2EE; margin-top:10px;border-radius: 5px 5px 5px 5px;}
.c_tjzt ul { padding-left:30px}
.c_tjzt ul li { list-style:decimal; margin:5px 0 5px 0px;}
.c_tjzt ul li a { color:#666; width:250px;overflow:hidden;font-size: 12px;}
.c_tjzt ul li a:hover { color:#999}

.c_tjsf {border:1px solid #CEE2EE; width:223px; height:352px;margin-top:10px;border-radius: 5px 5px 5px 5px;}
.c_tjsf ul {}
.c_tjsf ul li { width:83px; float:left; padding-left:20px;margin-top:15px}
.c_tjsf ul li img { width:65px; height:65px}
.c_tjsf ul li p { width:83px; height:20px; line-height:20px; color:#07F601; text-align:center; font-weight:bold}
.c_tjsf ul li p a { color:#6D991D}
.c_tjsf ul li p a:hover { text-decoration:none}

/*foot start*/
.foot { width:980px;margin:auto;margin-top:20px; height:60px;}
.nav_btm { background:#F1F1F1; width:980px; height:16px}
.nav_btm ul { width:438px; height:16px; margin:auto}
.nav_btm ul li { float:left; height:14px; line-height:16px; color:#ccc}
.nav_btm ul li a { margin:1px 10px; color:#1E386B;font-size: 12px;}
.nav_btm ul li a:hover { color:#666; text-decoration:underline}
.banq { width:980px; color:#333333; font-size:12px}
.banq .lin1 { width:300px; height:16px; margin:auto;margin-top:20px;font-size: 12px;}
.banq .lin2 { width:325px; height:16px; margin:auto;margin-top:10px;font-size: 12px;}
.banq .lin3 { width:500px; height:16px; margin:auto;margin-top:10px;font-size: 12px;}
/*foot end*/








/*===========社区阅览室============*/